.menu__toggle {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgba(29, 139, 103, 0.5);
    z-index: 100; 
}
.menu__lines,
.menu__lines:after,
.menu__lines:before {
    position: absolute;
    width: 30px;
    height: 4px;
    background-color: #fff;
    transition: .3s;
}
.menu__lines {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.menu__lines:before {
    content: '';
    top: -10px;
    

}
.menu__lines:after {
    content: '';
    top: 10px;
    
}

.menu__active .menu__lines {
    background-color: transparent;
}
.menu__active .menu__lines:before {
    top: 0;
    transform: rotate(45deg);
    
}
.menu__active .menu__lines:after {
    top: 0;
    transform: rotate(-45deg);
    
    
}